/* Global Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 30px;
    font-weight: 400;
}
h4{
    font-size: 20px;
    font-weight: 400;
}


.email-section input{
    height: 50px;
    width: 500px;
    padding-left: 20px;
    font-size: 15px;
}
.email-section button{
    height: 55px;
    background: red;
    color: #fff;
    padding:  10px 30px 10px 30px;
    font-size: 20px;
    border: none;
    /* margin: 0; */
}



/* Hero Section */


.hero-section{
    background-image: url(../images/GH-en-20221219-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.hero-section h1{
    text-align: center;
    padding-top: 200px;
}

.hero-section h3{
    height: 70px;
}

header{
    display: flex;
    /* justify-items: last baseline; */
    justify-content: space-between !important;
    width: 90%;
}

header img{
    width: 200px;
    float: left;
}

header .btn{
    height: 40px;
    width: 100px;
    /* margin-right: 50px; */
    border-radius: 5px;
    background: red;
    border:none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
}